<section class="contato">
    <h2 class="contato-h2 gradient-title">Contato</h2>
    <div class="contato-div">
        <a class="contato-a" href="https://www.linkedin.com/in/guilhermefiochi" target="_blank" 
        rel="noopener noreferrer"><i class="contato-icon fa-brands fa-linkedin">Linkedin</i></a>
        <a class="contato-a" target="guilhermefiochi@Outlook.com"><i class="contato-icon fa-solid fa-envelope"></i></a>
        <a class="contato-a" href=""><i class="contato-icon fa-brands fa-whatsapp"></i></a>
    </div>
</section>  