<section class="about">
    <div class="about-content glass-moph">
        <img class="about-image" src={{imagem}} alt="Foto de Guilherme Fiochi" />
        <h1 class="about-title gradient-title">Sobre mim</h1>
        <p class="about-text gradient-text">
            Sou Guilherme, Desenvolvedor Full-Stack com foco em back-end, utilizando 
            Java/Spring Boot e Angular. Tenho experiência em diversas tecnologias, 
            metodologias ágeis e boas práticas de desenvolvimento, sempre buscando 
            soluções eficientes e de alta performance. Minha abordagem é colaborativa 
            e adaptável, voltada para entregar resultados consistentes e agregar 
            valor aos projetos.
        </p>
    </div>
</section>
