<header>
  <mat-toolbar>
    <h1 class="gradient-text">Guilherme Fiochi</h1>
    <div class="buttons">
      <button class="about-button" (click)="navigateTo('about')" mat-stroked-button>Sobre</button>
      <button class="projects-button" (click)="navigateTo('projects')" mat-raised-button color="primary">
        Projetos
      </button>
      <button class="contact-button" (click)="navigateTo('contact')" mat-raised-button color="accent">
        Contato
      </button>

      <div class="header-list">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="list"
          ></mat-icon>
        </button>
        <mat-menu
          class="menu"
          #aboveMenu="matMenu"
          yPosition="below"
          #menu="matMenu"
        >
          <button mat-menu-item (click)="navigateTo('about')">Sobre</button>
          <button mat-menu-item (click)="navigateTo('projects')">Projetos</button>
          <button mat-menu-item (click)="navigateTo('contact')">Contato</button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>
</header>
