.header {
    position: fixed;
    z-index: 2;
}

.mat-toolbar {
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem
}

.buttons {
    display: flex;
    justify-content: space-between;
    width:30vw;
}

.menu {
    background-color: wheat;
}

.header-list {
    display: none;
}

mat-menu-item {
    text-decoration: none;
}

@media (min-width: 375px) and (max-width: 575px){
    .header-list {
        display: inline-block;
    }
    .about-button {
        display: none;
    }
    .projects-button {
        display: none;
    }
    .contact-button {
        display: none;
    }

    .header-list {
        display: inline-block;
    }
}

@media (min-width: 577px) and (max-width: 768px) {

    .header-list {
        display: inline-block;
    }
    
    .about-button {
        display: none;
    }

    .projects-button {
        display: none;
    }

    .contact-button {
        display: none;
    }
}