<section id="tecnologies" class="tecnologies">
    <div class="carousel">
      <h2 class="gradient-title">Tecnologias</h2>
      <div class="track">
        <figure *ngFor="let item of icones;">
          <img class="tecnologies-image" src="{{item.path}}" alt="">
          <figcaption class="gradient-text">{{item.name}}</figcaption>
        </figure>
        <figure *ngFor="let item of icones;">
          <img class="tecnologies-image" src="{{item.path}}" alt="">
          <figcaption class="gradient-text">{{item.name}}</figcaption>
        </figure>
      </div>
    </div>
  </section>
  