<section id="projects">
  <h2 class="gradient-text">Projetos</h2>
  <div class="cards-projetos">
    <mat-card *ngFor="let item of projetos" class="glass-moph">
      <mat-card-header>
        <mat-card-title class="gradient-text">{{ item.titulo }}</mat-card-title>
        <mat-card-subtitle>{{ item.subtitulo }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src={{item.image}}>
      <mat-card-content>{{ item.descricao }}</mat-card-content>
      <mat-card-actions>
        <a class="link" mat-flat-button href="{{ item.link }}" target="_blank"
          >Link</a
        >
      </mat-card-actions>
    </mat-card>
  </div>
</section>
