:root {
  --font-family: "Nunito", sans-serif;

  --gradient-text: linear-gradient(90deg, rgba(4,54,74,1) 0%, rgba(23,107,135,1) 35%, rgba(100,204,197,1) 68%, rgba(218,255,251,1) 100%);

  --gradient-title: linear-gradient(90deg, rgba(223,242,235,1) 0%, rgba(185,229,232,1) 35%, rgba(122,178,211,1) 68%, rgba(74,98,138,1) 100%);

  --gradient-background: linear-gradient(0deg, rgba(48,125,195,1) 10%, rgba(28,34,108,1) 27%, rgba(37,37,37,1) 46%, rgba(0,0,0,1) 89%);

  --text-color: #B9E5E8;

}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  // background-color: black; 
}

.gradient-text {
  background:var(--gradient-text)
}

.gradient-title {
  background-image: var(--gradient-title)
}

.gradient, .gradient-text, .gradient-title {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-align: center;
}

.glass-moph {
    backdrop-filter: blur(10px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%);
    background-color: rgba(47, 47, 88, 0.4);
    border-radius: 12px;
    border: 1px solid rgba(24, 10, 130, 0.125);
}
